<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>-->
    <servlet>
        <servlet-name>loadMoreServlet</servlet-name>
        <servlet-class>controller.loadMoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjax</servlet-name>
        <servlet-class>controller.SearchAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayBookByCServlet</servlet-name>
        <servlet-class>controller.DisplayBookByCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetail</servlet-name>
        <servlet-class>controller.AccountDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfileServlet</servlet-name>
        <servlet-class>controller.editProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingBookServlet</servlet-name>
        <servlet-class>controller.RatingBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayRatingServlet</servlet-name>
        <servlet-class>controller.displayRatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterLibCard</servlet-name>
        <servlet-class>controller.RegisterLibCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCard</servlet-name>
        <servlet-class>controller.ListCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCardServlet</servlet-name>
        <servlet-class>controller.DeleteCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLibCardStatus</servlet-name>
        <servlet-class>controller.updateLibCardStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowCartServlet</servlet-name>
        <servlet-class>controller.BorrowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncreServlet</servlet-name>
        <servlet-class>controller.QuantityIncreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityDesc</servlet-name>
        <servlet-class>controller.QuantityDesc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>controller.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailServlet</servlet-name>
        <servlet-class>controller.CartDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>controller.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>controller.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersDAO</servlet-name>
        <servlet-class>dal.UsersDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactUsServlet</servlet-name>
        <servlet-class>controller.contactUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackServlet</servlet-name>
        <servlet-class>controller.feedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookServlet</servlet-name>
        <servlet-class>controller.ListBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersDAO</servlet-name>
        <url-pattern>/UsersDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactUsServlet</servlet-name>
        <url-pattern>/contactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMoreServlet</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjax</servlet-name>
        <url-pattern>/searchAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayBookByCServlet</servlet-name>
        <url-pattern>/displayBooksByC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetail</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileServlet</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingBookServlet</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayRatingServlet</servlet-name>
        <url-pattern>/displayRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterLibCard</servlet-name>
        <url-pattern>/rLibCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCard</servlet-name>
        <url-pattern>/listCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCardServlet</servlet-name>
        <url-pattern>/deleteCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLibCardStatus</servlet-name>
        <url-pattern>/statusLibcardUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowCartServlet</servlet-name>
        <url-pattern>/bCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncreServlet</servlet-name>
        <url-pattern>/quantityIncre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityDesc</servlet-name>
        <url-pattern>/quantityDesc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/removeFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailServlet</servlet-name>
        <url-pattern>/cartDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
